
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lily+Script+One&family=Permanent+Marker&display=swap');


body{
    max-width: 1200px;
    margin: auto;
}

header{
    display: grid;
    width: 1210px;
    grid-template-columns: 1fr 200px 1fr;
    height: 70px;
    font-family: "Libre Baskerville", serif;
    background-color: #e5faf0;
    border-bottom: white solid 2px;
    box-sizing: border-box;
    
}

#nav1{
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

#nav2{
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 20px;
    
    
}

nav a{
    padding: 0;
    grid-column: 2/3;
    align-items: center;
    justify-self: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 700;
}

nav a:hover{
    color: #c85959;
}


.logo{
    position: relative;
    width: 130px;
    margin-top: -10px;
    margin-right: 20px;
    grid-column: 2/3;
    grid-row: 1/2 ;
    justify-self: center;
}
main{
    display: grid;
}
.hero{
    display: grid;
    grid-row: 1/4;
    grid-template-columns: repeat(4, 1fr);
}

/* Seccion de hero image */
.hero-image{
    grid-column: 1/5;
    grid-row: 1/2;
    width: 100%;
    height: 650px;
    z-index: -1;
}

.hero-title{
    width: 500px;
    font-family: "Libre Baskerville", serif;
    padding-right: 20px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 40px;
    margin-top: 50px;
    align-self:first baseline;
    text-align: center;
}

.hero-title h1{
    color: white;
    font-size: 40px;
    text-align: left;
}

.hero-title p{
    color: rgb(15, 2, 12);
    font-size: 25px;
    width: 460px;
    text-align: left;
    margin-bottom: 40px;
}

#checkPrograms{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#checkPrograms:hover{
    background-color: #45a049;
}

#socialNetwork1{
    display: flex;
    justify-content: space-around;
    padding-inline: 120px;
    margin-top: 80px
}

#socialNetwork1 img{
    width: 50px;
    transition: transform 0.3s ease;
}

#socialNetwork1 img:hover{
    transform: scale(1.2);
}

/* Form */
input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

.formButtom{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButtom:hover {
  background-color: #45a049;
}

label {
  font-size: 13px;
  font-family: "Libre Baskerville", serif;
  font-weight: 500; 
  color: #333; 
}


#form1 {
  border-radius: 5px;
  background-color: #dbf5e9;
  padding: 20px;
  width: 280px;
  grid-column: 4/5;
  grid-row: 1;
  height: 460px;
  margin-top: 30px;
  margin-right: 40px;
}

#form1 h2{
    font-size: 19px;
    font-family: "Libre Baskerville", serif;
    margin: 0;
    margin-bottom: 8px;
}

/* Imagen de niños */
.wrapper{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    margin-top: -85px;
    height: 240px;
    z-index: 11;
}

.effect-sadie {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.effect-sadie img {
  display: block;
  width: 280px;
  height: auto;
  transition: transform 0.35s;
  border: 7px white solid;
}

.effect-sadie figcaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 40%, rgba(0,0,0,0.4) 100%);
  color: white;
  opacity: 0;
  transition: opacity 0.35s;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.effect-sadie h3 {
  margin: 0;
  font-size: 1.5em;
  transform: translateY(20px);
  transition: transform 0.35s;
}

.effect-sadie:hover img {
  transform: scale(1.08);
    
}

.effect-sadie:hover figcaption {
  opacity: 1;
}

.effect-sadie:hover h3{
  transform: translateY(0);
  opacity: 1;
}


/*Know about us section*/
.school{
    background-image: url("../images/back3.jpg");
    background-color: rgba(0, 0, 0, 0.12); 
    background-blend-mode: multiply;
    margin-top: -147px;
    background-size: 1100px;
    height: 770px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 10%);
    column-gap: 10px;
    align-items: center;
    text-align: center;
}

.school h1{
    grid-column: 1/-1;
    grid-row: 4/5;
    margin-top: -80px;
    text-align: center;
    display: inline;
    padding-left: 20px;
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    color:black;
}

.school h4{
    grid-column: 2/-2;
    grid-row: 5/6;
    margin-top: -55px;
    font-size: 20px;
    text-align: center;    
    font-family: "Libre Baskerville", serif;
}

.school-sections{
    display: flex;
    grid-column: 1/-1;
    grid-row: 6/9;   
    gap: 40px;
    justify-content: center;
    margin-top: 105px;
}

.school-sections section{
    border: 3px solid #ab853b;
    width: 320px;
    transition: transform 0.3s ease;
}

.school-sections section:hover{
    transform: scale(1.1);
}

.school-sections p{
    padding: 0 20px;
    font-size: 15.4px;
    margin-top: -6px;
    font-family: "Libre Baskerville", serif;
}

.school-titles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Libre Baskerville", serif;
    font-size: 13px;
    color: #8f6e2c;
}


.icon{
    height: 22px;
    width: 22px;
    display: inline;
    margin: 0;
    padding: 0;
}



/*Display video section*/
.video-home{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    height: 368px;
    margin-top: -40px;
    padding-top: 40px;
    gap: 10px;
    background-image: url("../images/back32.jpg");
    background-position: 100;
    background-color: rgba(0, 0, 0, 0.12); 
    background-blend-mode: multiply;
}

.video-home video{
    grid-column: 2;
    width: 670px;
    margin-top: 40px;
    border: 5px white solid;
    margin-left: -45px;
    position: relative;
     
}

.video-information {
    grid-column: 7/10;
    margin-right: 60px;
    margin-top: 60px;
    position: relative;
    width: 345px;
    height: 240px;
    padding: 5px 20px;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
    
    }

.team-names {
    grid-column: 7/10;
    margin-right: 60px;
    margin-top: -375px;
    width: 345px;
    height: 240px;
    padding: 5px 20px;
    border-radius: 8px;
    background: #e4f3ec;
    color: black;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.team-names p{
    margin-top: 20px;
}

.video-information:hover{
    opacity: 0;
}



.video-home h2{
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    text-align: right;
}

.video-home p{
    font-size: 16px;
    font-family: "Libre Baskerville", serif;
    text-align: left;
}

/*Know about the programs that are available*/
.programs{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    background-image: url(../wdd130/images/back4.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.01); 
    background-blend-mode: multiply;
    height: 700px;
    margin-top: 5px;
    padding-top: 40px;
}
.program-info-container{
    grid-column: 1/-1;
    text-align: center;    
    font-family: "Libre Baskerville", serif;
}

.program-info-container h1{
    font-size: 40px;
    margin-top: 60px;
    color: #c8a359;
    
}

.program-info-container p{
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    padding: 0 140px;
    font-weight: 600;
}

/*Slidesshow container styles*/
.slideshow-container {
    border: 4px solid white;
    padding: 1px;
    grid-column: 7/11;
    grid-row: 2;
    box-sizing:border-box;
    max-width: 430px;
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-left: -50px;
    transition: transform 0.4s ease;
    
}

.slideshow-container:hover{
    transform: scale(1.15);
}

.images-row{
    display: flex;
    gap: 4px;
}

.images-row img{
    margin-top: -1px;
    width: 137.8px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Style the tab */
#tab-container{
    grid-column: 2/6;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
}
.tab {
    border: 3px solid white;
    background-color: #f1eded;
    width: 30%;
    height: 270px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #e2d6bf;;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 3px solid white;
    width: 340px;
    background-color:  #F5E9DA;
    background-blend-mode: multiply;
    background-position: 0;
    border-left: none;
    height: 270px;
    }

#checkPrograms2{
    width: 170px;
    height: 20px;
    text-align: center;
    justify-self: center;
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
    grid-row: 3;
    grid-column: 3/4;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: -90px;
    margin-left: 170px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#checkPrograms2:hover{
    background-color: #45a049;
}

/*Make a new background*/
.playa-background{
    background-image: url("/wdd130/images/backShort.jpg");
    background-size: cover;
    width: 100%;
    height: 338px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 5px solid white;
    display: flex;
}

.playa-discount{
    width: 610px;
    grid-column: 1/3;
    align-self: baseline;
    padding: 0;
    align-content: center;
    margin-left: 30px;
    color: white;
}

.playa-discount h1{
    font-size: 32px;
    font-family: "Libre Baskerville", serif;
}

#qr-code{
    margin-left: 350px;
    margin-bottom: -70px;
    z-index: 1;
    width: 118px;
    flex-direction: row;
    align-self: flex-end;
    
    
}

#qr-code img{
    width: 110px;
    align-self: center;
    border: 3px solid gray;
    transition: transform 0.4s ease;
    margin-left: 10px;
    border: 5px solid black;
}

#qr-code img:hover{
    transform: scale(1.2);
}

#qr-code h3{
    width: 150px;
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
    color: white;
}

/* Testimonial section */
.testimonial{
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 10px;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    height: 760px;
    z-index: 10;
    background-color: #fdf3e6;
}

.testimonial-text{
    grid-column: 2/-1;
    margin-top: 30px;
    margin-left: 100px;
    justify-self: center;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.testimonial-text h1{
    font-size: 32px;
    font-family: "Libre Baskerville", serif;
}

.testimonial-text p{
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    width: 340px;
    text-align: justify;
    align-self: center;
}

#socialNetwork2{
    display: flex;
    justify-content: space-around;
    padding-inline: 30px;
    margin-top: 10px
}

#socialNetwork2 img{
    width: 55px;
    transition: transform 0.3s ease;
}

#socialNetwork2 img:hover{
    transform: scale(1.2);
}

.author{
   font-family: "Libre Baskerville", serif; 
   font-size: 13px;
   width: 250px;
   margin-top: -6px;
}

.testimonials-container{
    margin-top: 60px;
    margin-left: 20px;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: repeat(10,100px);
    height: 700px;
    
}

.testimonials-container:hover #first-testimony,
.testimonials-container:hover #second-testimony,
.testimonials-container:hover #third-testimony {
    opacity: 0.5;
}

#first-testimony:hover,
#second-testimony:hover,
#third-testimony:hover {
    opacity: 1 !important;
}


/* first one */
#first-testimony{
    grid-column-start: 1;
    width: 308px;
    margin-left: 30px;
    text-align: left;
    height: 500px;
    grid-row-start: 1;
    z-index: 1;
    position: relative;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
}

#first-testimony p, 
#first-testimony h5 {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 280px;
    justify-self: center;
    font-size: 15px;
    margin-left: 2px;
    position: relative;
    z-index: 1;
    margin-top: 2px;
    font-family: "Libre Baskerville", serif;
}

#first-testimony img{
    width: 300px;
    border: 5px black solid;
    transition: border 0.3s ease;
}

#first-testimony:hover img{
    border: none;
}

#first-testimony:hover {
    background: #f0f0f0;
    transform: scale(1.2);
    z-index: 1;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 5px;
}


#first-testimony:hover p,
#first-testimony:hover h5 {
    opacity: 1;
}

#second-testimony, #third-testimony {
    transition: opacity 0.3s ease;
}

/* Second one */
#second-testimony{
    grid-column-start: 5;
    text-align: left;
    height: 480px;
    width: 308px;
    grid-row-start: 1;
    margin-top: 30px;
    position: relative;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
}

#second-testimony p, 
#second-testimony h5 {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 280px;
    justify-self: center;
    font-size: 15px;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
    z-index: 1;
    font-family: "Libre Baskerville", serif;

}

#second-testimony img{
    width: 300px;
    border: 5px black solid;
    transition: border 0.3s ease;
}

#second-testimony:hover img {
    border: none;
}

#second-testimony:hover{
    background: #f0f0f0;
    transform: scale(1.2);
    z-index: 1;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}


#second-testimony:hover p,
#second-testimony:hover h5 {
    opacity: 1;
}

#third-testimony{
    grid-column: 1;
    width: 628px;
    height: 380px;
    text-align: left;
    grid-row-start: 2;
    margin-top: -140px;
    margin-left: 50px;
    position: relative;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
}

#third-testimony img{
    border: 5px black solid;
    transition: border 0.3s ease;
    width: 620px;
    height: 250px;
    transition: border 0.3s ease;
}


#third-testimony:hover {
    background: #f0f0f0;
    transform: scale(1.1);
    border: 5px solid black;
    border-radius: 5px;
} 

#third-testimony:hover img{
    border: none;
    width: 628px;
}

#third-testimony p, 
#third-testimony h5 {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 600px;
    justify-self: center;
    font-size: 17px;
    margin-top: 1px;
    position: relative;
    z-index: 2;
    font-family: "Libre Baskerville", serif;
}

#first-testimony h5, #second-testimony h5{
    font-size: 12px;
}

#third-testimony h5{
    font-size: 13px;
}

#third-testimony:hover p,
#third-testimony:hover h5 {
    opacity: 1;
}

/* FAQ Questions */
.faq-background{
    background-color: #fdf3e6 ;
    margin-top: -60px;
    padding-top: 0px;
    padding-bottom: 60px;
}

.faq-section {
    background-color: #fafafa;
    border-radius: 50px;
    margin-top: 30px;
    width: 900px;
    justify-self: center;
    padding: 20px;
    text-align: center;
    padding-bottom: 80px;
}

.faq-section:hover{
    background-color: #dbf5e9;
}

.faq-section h2{
    font-size: 32px;
    font-family: "Libre Baskerville", serif;
}

.faq-item {
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
}

.faq-question {
    background: none;
    font-family: "Libre Baskerville", serif; 
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 900px;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease;
}

.faq-answer {
    display: none;
    font-size: 17px;
    padding: 10px;
    text-align: left;
    font-family: "Libre Baskerville", serif; 

}

.faq-answer.active {
    display: block;
}

/* Footer section */
footer{
    background-color: #e5faf0;
    display: flex;
    height: 190px;
    justify-content: space-around;
    width: 1210px;
}
footer ul h3{
    font-family: "Libre Baskerville", serif; 
}
footer ul a{
    text-decoration: none;
    padding-bottom: 9px;
    color: black;
    font-family: "Libre Baskerville", serif; 
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

footer ul a:hover{
    color: rgb(224, 133, 133); /* o el color que combine con tu diseño */
    text-decoration: underline;
}


#customer{
    display: flex;
    flex-direction: column;
}

#coorporate{
    display: flex;
    flex-direction: column;
}

#gifts{
    display: flex;
    flex-direction: column;
}

#location{
    display: flex;
    flex-direction: column;
}

.aboutMe{
    display: flex;
    width: 1210px;
    background-color: #f0f0f0;
    padding: 20px 0;
    
}

.aboutMe img{
    width: 480px;
    margin: 0 10px;
}

.aboutMe div{
    margin-left: 20px;
    flex-direction: column;
    margin-right: 20px;
}

.aboutMe h1{
    font-size: 19px;
    font-family: "Libre Baskerville", serif;
}

.aboutMe p{
    font-size: 16px;
    font-family: "Libre Baskerville", serif;
}


